# 忽略编译输出
/out/
/production/
*.class
*.jar
*.log

# 忽略 IDE 配置
*.iml
/.idea/
/.vscode/

# 忽略临时文件
*.tmp
*.swp
.DS_Store

# 忽略第三方库
/mysql-connector-j-9.1.0/

# 忽略归档文件
*.zip

# 忽略私人文档
*.docx
*.pdf
FinalProjectDescription.docx
yt2979_proposal*

